.login-page-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #EEEEEE;
  min-height: 100%;
  padding-top: 60px;
}

.login-page-root .login-btn {
  cursor: pointer;
}